description "{{ ui_app }} node.js app"

stop on shutdown
respawn
respawn limit 20 5

# Max open files are @ 1024 by default. Bit few.
limit nofile 32768 32768

script
  set -e
  exec sudo -u {{ ui_user }} node --harmony_arrow_functions --harmony_modules --harmony_strings {{ ui_deploy_to }}/{{ ui_deploy_version }}/index.js --domain={{ ui_domain }} --endpoint={{ ui_api_url }} 2>&1
end script

post-start script

end script